In [53]:
from scipy.io import arff
import pandas as pd
import os
from sklearn.preprocessing import StandardScaler

current_directory = os.getcwd()
parent_directory = os.path.dirname(current_directory)


#data, meta = arff.loadarff(parent_directory+'/datasets/EEG.arff')
data, meta = arff.loadarff(parent_directory+'/datasets/cardiotocography.arff')
# data, meta = arff.loadarff(parent_directory+'/datasets/eye_movements.arff')
# data, meta = arff.loadarff(parent_directory+'/datasets/mfeat-zernike.arff')

#data, meta = arff.loadarff(parent_directory+'/datasets/segment.arff')
#data, meta = arff.loadarff(parent_directory+'/datasets/JapaneseVowels.arff')



df = pd.DataFrame(data)
scaler = StandardScaler()
features = scaler.fit_transform(df.iloc[:, :-1])


#features = pd.DataFrame(features)

print(df.head())

     V1     V2      V3     V4     V5   V6   V7   V8    V9  V10  ...  V27  V28  \
0  23.0  240.0   357.0  120.0  120.0  0.0  0.0  0.0  73.0  0.5  ...  0.0  0.0
1  45.0    5.0   632.0  132.0  132.0  4.0  0.0  4.0  17.0  2.1  ...  0.0  0.0
2  45.0  177.0   779.0  133.0  133.0  2.0  0.0  5.0  16.0  2.1  ...  0.0  0.0
3  45.0  411.0  1192.0  134.0  134.0  2.0  0.0  6.0  16.0  2.4  ...  0.0  0.0
4  45.0  533.0  1147.0  132.0  132.0  4.0  0.0  5.0  16.0  2.4  ...  1.0  0.0

   V29  V30  V31  V32  V33  V34  V35  Class
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   b'9'
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0   b'6'
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0   b'6'
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0   b'6'
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0   b'2'

[5 rows x 36 columns]

In [54]:
df.shape

(2126, 36)

In [44]:
df.iloc[:, 0].unique()

array([b'1', b'2', b'3', b'4', b'5', b'6', b'7', b'8', b'9'], dtype=object)

In [55]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,Class
0,23.0,240.0,357.0,120.0,120.0,0.0,0.0,0.0,73.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,b'9'
1,45.0,5.0,632.0,132.0,132.0,4.0,0.0,4.0,17.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
2,45.0,177.0,779.0,133.0,133.0,2.0,0.0,5.0,16.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
3,45.0,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,16.0,2.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
4,45.0,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,16.0,2.4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'2'

In [ ]:
print(pd.DataFrame(features).head())

In [41]:
features[0:50,:]

array([[-1.73189243, -1.71535529, -0.4093946 , ...,  0.71257518,
        -0.30853968,  0.04041065],
       [-1.73157567, -1.71535529, -0.4093946 , ...,  0.71257518,
        -1.3490999 , -1.02448302],
       [-1.73125891, -1.71535529, -0.4093946 , ...,  0.71257518,
        -1.3490999 ,  0.04041065],
       ...,
       [-1.71700465, -1.70507782, -0.4093946 , ..., -0.58351167,
        -1.00224649, -1.02448302],
       [-1.71668789, -1.70507782, -0.4093946 , ..., -1.23155509,
        -0.65539309, -1.02448302],
       [-1.71637113, -1.70507782,  3.41069017, ..., -1.23155509,
        -0.65539309,  0.04041065]])

In [ ]:
df

In [43]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,Class
0,23.0,240.0,357.0,120.0,120.0,0.0,0.0,0.0,73.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,b'9'
1,45.0,5.0,632.0,132.0,132.0,4.0,0.0,4.0,17.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
2,45.0,177.0,779.0,133.0,133.0,2.0,0.0,5.0,16.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
3,45.0,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,16.0,2.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
4,45.0,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,16.0,2.4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'2'

In [37]:
df['V25'].unique()

array([ 1.,  0., -1.])

In [27]:
df['Class'].unique()

array([b'9', b'6', b'2', b'8', b'10', b'7', b'1', b'3', b'5', b'4'],
      dtype=object)

In [21]:
df.sample(frac=1).reset_index(drop=True)
ddf = df.sample(frac=1).reset_index(drop=True)

df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,Class
0,23.0,240.0,357.0,120.0,120.0,0.0,0.0,0.0,73.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,b'9'
1,45.0,5.0,632.0,132.0,132.0,4.0,0.0,4.0,17.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
2,45.0,177.0,779.0,133.0,133.0,2.0,0.0,5.0,16.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
3,45.0,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,16.0,2.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
4,45.0,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,16.0,2.4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'2'

In [19]:
ddf.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4263.08,3990.26,4246.15,4113.33,4335.38,4609.74,4055.38,4611.28,4196.41,4216.92,4173.33,4253.33,4569.74,4321.54,b'1'
1,4431.28,4089.74,4301.54,4154.87,4338.97,4609.74,4062.05,4580.51,4173.33,4206.15,4214.36,4301.03,4657.44,4474.36,b'1'
2,4306.67,4011.79,4268.21,4139.49,4346.67,4629.74,4088.72,4630.77,4221.03,4250.26,4230.26,4290.26,4620.51,4375.90,b'2'
3,4283.08,3991.79,4267.69,4106.15,4334.36,4618.97,4056.92,4610.77,4191.79,4230.77,4176.92,4270.26,4592.31,4356.92,b'1'
4,4293.85,4026.15,4256.41,4135.90,4351.79,4622.56,4079.49,4602.05,4184.62,4221.03,4191.28,4256.92,4584.62,4363.59,b'2'

In [8]:
features.mean(axis=0)

array([-1.32811726e-16,  3.79462075e-15, -9.46378415e-15, -1.80244486e-17,
        6.78478190e-15, -1.64117348e-16,  1.89731038e-17, -1.31901017e-14,
       -3.03569660e-17, -1.68101699e-15, -1.02151191e-14, -1.13629918e-14,
       -3.22542764e-17, -2.41907073e-17])

In [4]:
features.mean(axis=0)

array([0.0106786 , 0.23703925, 0.55201043, 0.00267394, 0.51361374,
       0.00521355, 0.00358215, 0.01812323, 0.01082505, 0.49710396,
       0.26174432, 0.42601663, 0.0297497 , 0.00426894])

In [27]:
features

array([[0.46808511, 0.07281553, 0.02113527, ..., 0.        , 1.        ,
        0.        ],
       [0.93617021, 0.00151699, 0.10416667, ..., 0.        , 0.        ,
        0.        ],
       [0.93617021, 0.05370146, 0.14855072, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.04255319, 0.47815534, 0.69716184, ..., 0.        , 0.        ,
        0.        ],
       [0.04255319, 0.47815534, 0.8339372 , ..., 0.        , 0.        ,
        0.        ],
       [0.04255319, 0.84830097, 0.94444444, ..., 0.        , 0.        ,
        0.        ]])

In [18]:
datadf.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,Class
0,23.0,240.0,357.0,120.0,120.0,0.0,0.0,0.0,73.0,0.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,b'9'
1,45.0,5.0,632.0,132.0,132.0,4.0,0.0,4.0,17.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
2,45.0,177.0,779.0,133.0,133.0,2.0,0.0,5.0,16.0,2.1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
3,45.0,411.0,1192.0,134.0,134.0,2.0,0.0,6.0,16.0,2.4,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,b'6'
4,45.0,533.0,1147.0,132.0,132.0,4.0,0.0,5.0,16.0,2.4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,b'2'

In [4]:
print(datadf.iloc[:, -1:].head())

  Class
0  b'1'
1  b'1'
2  b'1'
3  b'1'
4  b'1'

In [13]:
#datadf.iloc[:, -1:].unique()

# Select the last column (as a Series)
last_column = datadf.iloc[:, -1]

# Find the unique values in the Series
unique_values = last_column.unique()

# Optionally, print the unique values
print(unique_values)
#

[b'1' b'2']

In [16]:
last_column[1]

b'1'

In [14]:
last_column

0        b'1'
1        b'1'
2        b'1'
3        b'1'
4        b'1'
         ...
14975    b'2'
14976    b'2'
14977    b'2'
14978    b'2'
14979    b'2'
Name: Class, Length: 14980, dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

# Select the column you want to convert (for example, the last column)
last_column = datadf.iloc[:, -1]

# Fit and transform the encoder on the selected column
datadf[column_name] = encoder.fit_transform(last_column)

# Print the DataFrame to see the changes
print(datadf.head())

KeyboardInterrupt:

In [2]:
parent_directory

'/Users/yuweiluo/Documents/GitHub/linear-ts'